<% @jobs.each do |job| %>
	<div class="cards">
		<div class="jobinfo">
			<%= render "all_jobs", job: job %>
		</div>
		
	</div>
<% end %>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">All Boats</h4>
      </div>
      <div class="modal-body">
        <%= render "boats/all_boats" %>
      </div>
    </div>
  </div>
</div>