/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body{
	background-color: gray;
}

#head{
	background-color: black;
	height: 55px;

}

.btn{
	background-color: white;
	color: black;
	margin-top: 3px;
	float: right;
	margin-left: 3px;
}

 .cards{
 	background-color: black;
 	color: white;
 	width: 30%;
 	height: 300px;
 	display: inline;
 	float: left;
 	margin-left: 2%;
 	margin-top: 2%;
 	padding: 10px;
 }

#dLabel{
 	background-color: black;
 	border: none;
 }

 .dropdown-menu{
 	background-color: black;
 	color: white;
 }
